.product-cover {
  background-image: url("/assets/product-cover.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    background-position: center bottom -40px;
  }
}

.product-sticker-section {
  background-image: url("/assets/dash-bg-2.webp");
  background-repeat: repeat;
  background-size: contain;
  background-position: center center;
}
